div.chat {
    overflow-y: scroll;
    height: 73vh;
    width: 60vw;
    background-color: whitesmoke;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 15px 7px rgb(80, 168, 168);
}

.msg {
    margin: auto;
    padding: 50px;
    font-size: 2rem;   
}

footer {
    margin:0 auto;
    width: 60vw;
    vertical-align: bottom;
}
textarea,input.button{
    display:inline-block;
}

textarea {
    margin: auto;
    width: 47vw;
    padding: 5px;
    resize: none;
}

input[type='submit'] {
        display: inline-block;
        background: #1E6BD6;
        border: 1px solid #1E6BD6;    
        resize: both;
        color: white;
        text-decoration: none;
        font-weight: 600;
        font-size: 1.5rem;
        font-family: sans-serif;
        height: 9.1vh;
        width: 12vw;
        float: right;
        box-shadow: 11px 4px rgb(80, 168, 168);
      
}

#speech-bubble-own {
     position: relative; 
     background: #00aabb; 
     border-radius: .2em; 
     font-size: 2rem;   
    }

#speech-bubble-other {
    position: relative; 
    background: darkgoldenrod; 
    border-radius: .2em;
    font-size: 2rem;  
}

h1 {
    color: darkgoldenrod;
}

h3 {
    font-size: 1.5rem;
}

