h1 {
    font-size: 30px;
    color: aliceblue;
    font-family: serif;
    margin-left: 25px;
}

button {
    width: 25%  ;
    border-style: ridge;
    border-radius: 2%;
    color: rgb(0, 0, 0);
    background-color: crimson;
}

form {
    width: 25%;
}

input {
    width: 100%;
    margin-bottom: 5px;
}
